@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		var user = userManager.GetUserAsync(User).Result;
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				@user.Name
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" asp-controller="auth" asp-action="Logout">Log Out</a>
			</div>
		</li>

	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="auth" asp-action="register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="auth" asp-action="login">Login</a>
		</li>
	}
</ul>