@{
    ViewData["Title"] = "Page Not Found";
}

<div class="container text-center py-5">
    <h4 class="display-2 text-danger">404 - Oops! Page Not Found</h4>
    <p class="lead text-muted">Sorry, the page you're looking for doesn't exist.</p>
    <a asp-controller="home" asp-action="index" class="btn btn-primary btn-md">Go Back to Home</a>
</div>