@{
    ViewData["Title"] = "Page Not Found";
}

<div class="container text-center py-5">
    <h4 class="display-3 text-danger">404 - Oops! Page Not Found</h4>
    <p class="lead text-muted">Sorry, the page you're looking for doesn't exist.</p>
    <a href="/" class="btn btn-primary btn-md">Go Back to Home</a>
</div>