@{
    ViewData["Title"] = "Error";
}

<div class="container text-center mt-5">
    <div class="error-container">
        <div class="error-title">
            <i class="fas fa-exclamation-triangle mb-5" style="font-size: 5rem; color: #dc3545;"></i>
            
        </div>
        <h4 class="error-message">
            We're sorry, but something went wrong. Please try again later.
        </h4>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>
