@{
	ViewData["title"] = "My Notes";
}
@using MyNotes.Models;
@model List<Note>;




	<div class="col-md-10 d-flex d-flex justify-content-between">
		<div >
			<h4>
				My Notes
			</h4>
		</div>
		<div>
		<a asp-controller="Note" asp-action="Create"><i class="fas fa-plus fa-xl"></i></a>
		</div>

	
</div>
	@if (Model.Count > 0)
	{
		<div class="row">
		@foreach (var note in Model)
		{
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
			<div class="card m-4" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">@note.NoteTitle</h5>
					<a asp-controller="Note" asp-action="Detail" asp-route-id="@note.NoteId">Details</a>
				</div>
			</div>
			</div>
		}
		</div>
		

	}
	else
	{
		<h4>You have no notes yet. </h4>
	}


